<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="14.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <UseLightSwitchWebDeploymentProvider>False</UseLightSwitchWebDeploymentProvider>
    <AuthenticationType>Windows</AuthenticationType>
    <RequiresIntrinsicDataSource>true</RequiresIntrinsicDataSource>
    <DeployDatabase>False</DeployDatabase>
    <LightSwitchPublishVersion>2.8</LightSwitchPublishVersion>
    <PackageLocation>../Publish//SzLs.zip</PackageLocation>
    <CleanWPPAllFilesInSingleFolder>False</CleanWPPAllFilesInSingleFolder>
    <ExcludeGeneratedDebugSymbol>true</ExcludeGeneratedDebugSymbol>
    <DisableAllVSGeneratedMSDeployParameter>True</DisableAllVSGeneratedMSDeployParameter>
    <AutoParameterizationWebConfigConnectionStrings>True</AutoParameterizationWebConfigConnectionStrings>
    <LightSwitchExcludeSetParameter>{Update web.config connection string}</LightSwitchExcludeSetParameter>
    <WPPAllFilesInSingleFolder>../Bin/Release/app.publish/</WPPAllFilesInSingleFolder>
    <PackageSourceManifest>../Bin/Release/SzLs.xml</PackageSourceManifest>
    <ProjectParametersXMLFile>..//Server/generated.parameters.xml</ProjectParametersXMLFile>
    <LightSwitchSqlScriptFile>../Bin/Release/SzLs.sql</LightSwitchSqlScriptFile>
  </PropertyGroup>
  <Target Name="BeforeBuild">
    <MSBuild Projects="../SzLs.lsxproj" Targets="BeforeLightSwitchPublishApplication" />
  </Target>
</Project>